@model PizzaShop.Domain.Entities.Order
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = "Orders";
}

<h1>@Localizer["Order"]</h1>
@if (Model != null)
{
	<table class="table">
		<thead>
			<tr>
				<th scope="col">@Localizer["Pizza Name"]</th>
				<th scope="col">@Localizer["Quantity"]</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var orderItem in Model.OrderItems)
			{
				<tr>
					<td>@orderItem.Pizza.Name</td>
					<td>@orderItem.Quantity</td>
					<td>
						<form asp-action="DeleteOrderItem" asp-controller="Order" method="post">
							<input type="hidden" name="orderId" value="@Model.Id" />
							<input type="hidden" name="id" value="@orderItem.Id" />
							<button type="submit" class="btn btn-danger"><i class="fas fa-minus"></i></button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<p>@Localizer["Total price"]: @Model.TotalPrice</p>
	<button id="open-modal-button" type="submit" class="btn btn-success">@Localizer["Confirm"]</button>
	<form asp-action="DeleteOrder" asp-controller="Order" asp-route-id="@Model.Id" method="post">
		<button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
	</form>

}
else
{
	<p>@Localizer["OrderEmpty"]</p>
}

<form asp-action="OrderHistory" asp-controller="Order" method="get">
	<button type="submit" class="btn btn-primary">@Localizer["OrderHistory"]</button>
</form>

<div id="modal-dialog" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5);">
	<div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background-color:white; padding:20px;">
		<form asp-action="PayOrder" asp-controller="Order" asp-route-id="@Model?.Id" method="post">
			<label for="shippingAddress">@Localizer["Shipping Address"]:</label>
			<input type="text" name="shippingAddress"><br>
			<button type="submit">@Localizer["Pay order"]</button>
		</form>
		<button id="close-modal-button">@Localizer["Close"]</button>
	</div>
</div>

<script>
	const openModalButton = document.getElementById("open-modal-button");
	const closeModalButton = document.getElementById("close-modal-button");
	const modalDialog = document.getElementById("modal-dialog");

	openModalButton.addEventListener("click", () => {
		modalDialog.style.display = "block";
	});

	closeModalButton.addEventListener("click", () => {
		modalDialog.style.display = "none";
	});
</script>