@model IEnumerable<PizzaShop.Domain.Entities.Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = "Orders History";
}

@if (Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th scope="col">@Localizer["OrderID"]</th>
				<th scope="col">@Localizer["Total Price"]</th>
				<th scope="col">@Localizer["Order Date"]</th>
				<th scope="col">@Localizer["ShippingAddress"]</th>
				<th scope="col">@Localizer["OrderStatus"]</th>
				<th scope="col">@Localizer["Items"]</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var order in Model)
			{
				<tr>
					<td>@order.Id</td>
					<td>@order.TotalPrice</td>
					<td>@order.OrderDate</td>
					<td>@order.ShippingAddress</td>
					<td>@order.OrderStatus</td>
					<td>@string.Join(',', order.OrderItems.Select(item => item.Pizza.Name))</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>@Localizer["HistoryEmpty"]</p>
}

<script>
	function getNextOrderStatus(currentStatus) {
		switch (currentStatus) {
			case 'Received':
				return 'Preparing';
			case 'Preparing':
				return 'OutForDelivery';
			case 'OutForDelivery':
				return 'Delivered';
			default:
				return currentStatus;
		}
	}
</script>