@model PizzaShop.WebUI.Models.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="row">
	<div class="col-md-4">
		<form asp-controller="Account" asp-action="Login" method="post">
			<input type="hidden" asp-for="ReturnUrl" />
			<div>@Localizer["Login"]</div>
			<div class="form-group">
				<label>@Localizer["Username"]</label>
				<input asp-for="Username" />
				<span aps-validation-for="Username"></span>
			</div>
			<div class="form-group">
				<label>@Localizer["Password"]</label>
				<input asp-for="Password" />
				<span aps-validation-for="Password"></span>
			<div>
			</div>
				<button type="submit" class="btn-block btn-lg mt-3">@Localizer["Sign In"]</button>
			</div>
			<a asp-controller="Account" asp-action="Register"
			   class="switch-button">@Localizer["Register"]</a>
		</form>
	</div>
</div>

