@model PizzaShop.Domain.Entities.CustomPizza

@{
	List<PizzaShop.Domain.Entities.Ingredient> ingredients = ViewBag.Ingredients;
}


<p>
	@foreach (var ingredient in ingredients)
	{
		<input type="checkbox" name="Ingredients" value="@ingredient.Name" id="@ingredient.Id" />
		<label for="@ingredient.Id">@ingredient.Name</label>
	<p>Calories: <span value="@ingredient.Calories" id="calories-@ingredient.Name">@ingredient.Calories</span></p>
	<p>Cost: <span value="@ingredient.Cost" id="cost-@ingredient.Name">@ingredient.Cost</span></p>
	}
</p>
<label for="quantity">Quantity:</label>
<input type="number" name="Quantity" value="1" min="1" />
<br />
<p>Total Cost: $<span id="total-cost">0.00</span></p>
<p>Total Calories: <span id="total-calories">0.00</span></p>
<button type="submit" onclick="buildPizza()">Add to Order</button>

<canvas id="pizza-canvas" width="500" height="500"></canvas>

<script>
	const canvas = document.getElementById('pizza-canvas');
	const ctx = canvas.getContext('2d');

	let totalCost = 0;
	let totalCalories = 0;

	const pizzaWidth = 300;
	const pizzaHeight = 300;

	let selectedIngredients = [];

	function updatePizza() {
		ctx.clearRect(0, 0, canvas.width, canvas.height);

		ctx.beginPath();
		ctx.arc(canvas.width / 2, canvas.height / 2, pizzaWidth / 2, 0, Math.PI * 2);
		ctx.fillStyle = '#FFDAB9';
		ctx.fill();
		ctx.closePath();

		ctx.beginPath();
		ctx.arc(canvas.width / 2, canvas.height / 2, pizzaWidth / 2, 0, Math.PI * 2);
		ctx.strokeStyle = '#D17B2E';
		ctx.lineWidth = 10;
		ctx.stroke();
		ctx.closePath();

		const numSlices = 6;
		for (let i = 0; i < numSlices; i++) {
			const angle = (Math.PI * 2 * i) / numSlices;
			const startX = canvas.width / 2;
			const startY = canvas.height / 2;
			const endX = startX + Math.cos(angle) * (pizzaWidth / 2);
			const endY = startY + Math.sin(angle) * (pizzaHeight / 2);
			ctx.beginPath();
			ctx.moveTo(startX, startY);
			ctx.lineTo(endX, endY);
			ctx.strokeStyle = "black";
			ctx.lineWidth = 1;
			ctx.stroke();
			ctx.closePath();
		}

		const ingredientProperties = {
			Cheese: {
				color: '#F0E68C',
				size: 15,
				dist: 20
			},
			Mushroom: {
				color: '#CD5C5C',
				size: 12,
				dist: 30
			},
			Sausage: {
				color: '#8B4513',
				size: 18,
				dist: 40


			},
			Peppers: {
				color: '#7FFF00',
				size: 14,
				dist: 50
			},
			Olives: {
				color: '#808000',
				size: 11,
				dist: 60
			},
			Tuna: {
				color: '#00BFFF',
				size: 16,
				dist: 70
			}
		};
		// Add ingredient to pizza
		const sliceAngle = (Math.PI * 2) / numSlices;
		selectedIngredients.forEach((ingredient, index) => {
			const ingredientProps = ingredientProperties[ingredient];
			const ingredientColor = ingredientProps.color;
			const ingredientSize = ingredientProps.size;
			const dist = ingredientProps.dist;
			const numIngredients = ingredientProps.number || numSlices;
			for (let i = 0; i < numIngredients; i++) {
				const angle = sliceAngle * i + sliceAngle / (2 * numIngredients) + index * sliceAngle;
				const radius = (pizzaWidth / 2 - 20) - dist;
				const centerX = canvas.width / 2;
				const centerY = canvas.height / 2;
				const x = centerX + Math.cos(angle) * radius;
				const y = centerY + Math.sin(angle) * radius;

				ctx.beginPath();
				ctx.arc(x, y, ingredientSize, 0, Math.PI * 2);
				ctx.fillStyle = ingredientColor;
				ctx.fill();
				ctx.closePath();
			}
		});
	}

	const ingredientCheckboxes = document.querySelectorAll('input[name="Ingredients"]');

	ingredientCheckboxes.forEach(checkbox => {
		checkbox.addEventListener('change', event => {
            const cost = parseFloat(document.getElementById("cost-" + event.target.value).innerText);
            const calories = parseFloat(document.getElementById("calories-" + event.target.value).innerText);
			var quantity = document.getElementsByName("Quantity")[0].value;
			
			if (event.target.checked) {
				selectedIngredients.push(event.target.value);

                totalCalories += calories;
                totalCost += cost;

                console.log(totalCost);

				updatePizza();
			} else {
				selectedIngredients = selectedIngredients.filter(ingredient => ingredient !== event.target.value);

				totalCalories -= calories;
                totalCost -= cost;

				updatePizza();
			}

			document.getElementById('total-cost').innerText = totalCost.toFixed(2) * quantity;
			document.getElementById('total-calories').innerText = totalCalories.toFixed(2) * quantity;
		});
	});
	function buildPizza() {
		var ingredients = [];
		var checkboxes = document.getElementsByName("Ingredients");

		for (var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].checked) {
				ingredients.push(checkboxes[i].value);
			}
		}

		var quantity = document.getElementsByName("Quantity")[0].value;

		$.ajax({
			type: "POST",
			url: "/PizzaBuilder/Build",
			data: { ingredientsNames: ingredients, quantity: quantity, totalCost: totalCost },
			success: function() {
				alert("Added to order");
			},
			error: function() {
				alert("Failed!");
			}
		});
	}
	const addToOrderButton = document.querySelector('button[type="submit"]');

</script>